@import "reset";

.navbar{
    height: 6vh;
    background-color: #FF1259;
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    height: 40vh;
    width: 70vw;
    max-width: 700px;
    padding: 2rem;
    margin: 10% auto;
    background-color: white;
    box-shadow:  0 1px 6px 2px rgba(0,0,0,0.09);
    &__button__container{
        display: flex;
        justify-content: space-evenly;
    }
}

input{
    margin-bottom: 1rem;
    font-family: 'Montserrat';
    padding: 0.2rem;
    border: 1px solid #6b6b6b
}
button{
    padding: 0.2rem;
    width: 40%;
    outline: none;
    font-weight: 600;
    background-color: #FF1259;
    border: 2px solid #FF1259;
    color: #fff;
}

.backButton{
    color: #FF1259;
    background-color: #fff;
}
.allDetails{
    padding: 1rem;
    margin: 10% auto;
    width: 90vw;
    height: 40vh;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column ;
    justify-content: space-evenly;
    background: #fff;
    box-shadow:  0 1px 6px 2px rgba(0,0,0,0.09);
    

}

@import "mediaQuery";